# Author: Javeed Mohammed Abdul 
#### Below are the python most asked interview question

In [23]:
###print all 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### 1.Get the last no

In [1]:
a=12345
print(a%10)

5

### 2. flow of executing the numeric data

In [6]:
#pemdas # paranthsis,exponential,mul,division additiona nd sub
print(3*3+3/3-1+2**2)

13.0

### 3. converting to  list of dictionaries

In [14]:
a=[1,2,3,4]
b=["apple","mango","banana"]
c=[{i:j} for i,j in zip(a,b)]
c

[{1: 'apple'}, {2: 'mango'}, {3: 'banana'}]

### 4.converting two lists to dictonaries

In [57]:
keys = ['ID', 'Name', 'Age', 'Salary']
values = [1, 'John', 25, 50000]

result_dict = dict(zip(keys, values))

print(result_dict)

{'ID': 1, 'Name': 'John', 'Age': 25, 'Salary': 50000}

In [34]:
keys = ['ID', 'Name', 'Age', 'Salary']
values = [1, 'John', 25, 50000]
c={k:v for k,v in zip(keys,values)}
c

{'ID': 1, 'Name': 'John', 'Age': 25, 'Salary': 50000}

### 5. list comphrehension

In [16]:
a=[i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 6. dictionry comphrehension

In [27]:
a={i:i**3 for i in range(1,10)}
a

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

### 7.random

In [48]:
import random
l=[1,2,3,4,5,6]
random_num=random.choice(l)
print(random_num)
random.shuffle(l)
print(l)

3
[2, 6, 4, 5, 3, 1]

### 8.enumerate

In [51]:
a=["linux","devops","python","java","rust"]
for i in enumerate(a):
    print(i)
print("=============")
my_list = ['apple', 'banana', 'orange']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

(0, 'linux')
(1, 'devops')
(2, 'python')
(3, 'java')
(4, 'rust')
=============
Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: orange

### 9. occurence of value

In [53]:
from collections import Counter
a=[1,1,2,3,1,2,3,4]
print(Counter(a))

# 2nd method
d={}
for i in a:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
print(d)

Counter({1: 3, 2: 2, 3: 2, 4: 1})
{1: 3, 2: 2, 3: 2, 4: 1}

 ### 10.iterator and generator

In [65]:
a=[1,2,3,4,5]
b=iter(a)
next(b)


#generator
def hello(n):
    for i in range(2,n):
        yield i**2  # it will make iterator
a=hello(4)
next(a)
# for i in hello(4):
#     print(i)

4

### 11.sorted and sort

In [69]:
a=[3,2,1,4]
print(sorted(a))
print(a)

b=[5,3,21,2,1]
b.sort()
print(b)

[1, 2, 3, 4]
[3, 2, 1, 4]
[1, 2, 3, 5, 21]

### 12.decorator

In [3]:
def main(fun):
    def sub():
        print("added som e functionality")
        a=fun()
        mod=a.upper()
        print(mod)
        print("added some functionality after deployment code")
    return sub()
@main
def hello():
    return "this is the deployment code"

added som e functionality
THIS IS THE DEPLOYMENT CODE
added some functionality after deployment code

In [1]:
def main(fun):
    def sub(a,b):
        a=fun(a,b)
        a=a+10
        return a
    return sub
@main
def hello(a,b):
    return a+b
x=hello(1,2)
x

13

### decorator to add sum of list

In [20]:
def main(fun):
    def sub(*args):
        print(fun(*args))
        a=fun(*args)
        print(sum(a))
    return sub
@main
def hello(s):
    return s
hello([1,2,3,4])

[1, 2, 3, 4]
10

### to get the sum of square using decorator

In [24]:
def main(fun):
    def sub(*args):
        print(fun(*args))
        a=fun(*args)
        a=[i**2 for i in a]
        print(a)
        print(sum(a))
    return sub
@main
def hello(s):
    return s
hello([1,2,3,4])

[1, 2, 3, 4]
[1, 4, 9, 16]
30

### 13.convert list to string

In [89]:
a=[1,2,3,4,5]
b=""
for i in a:
    b=b+str(i)
print(b)
# 2nd method
c=""
for i in a:
    c=c+"".join(str(i))
print(c)

12345
12345

### 14.swap two no

In [57]:
a=2
b=3
temp=a #2
a=b #a=3
b=temp
print(a,b)

3 2

### 15.break and continue

In [93]:
a=[1,2,3,4,5]
for i in a:
    if i==5:
        break
    print(i)
print("=================")
for j in a:
    if j==2:
        continue
    print(j)

1
2
3
4
=================
1
3
4
5

### 16.factorial

In [96]:
a=1
for i in range(5,0,-1):
    a=a*i
print(a)

120

In [5]:
r=1
for i in range(5,0,-1):
    r=r*i
print(r)

120

### 17.Prime no

In [98]:
for i in range(5,30):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

5
7
11
13
17
19
23
29

In [29]:
a=int(input("Enter the no: "))  # 5

if a==1:
        print("Not a prime no")
else:
    for i in range(2,a):
        if a%i==0:
            print("Not a prime no")
            break
    else:
        print(f" {a} is prime no")

Enter the no:  7

 7 is prime no

In [14]:
def prime(n):
    if n<=0:
        return False
    if n==1:
        return "Not Prime"
    else:
        for i in range(2,n):
            if n%i==0:
                return "Not Prime"
                break
        else:
            return "Prime"
prime(1)

'Not Prime'

### 18.pickling and unpickling

In [103]:
#pickle---> object to bytes
#unpickle --->bytes to objets
#note objects whi aaare not loaded into files can not be transferred to server or other location 
import pickle
a=[1,2,345,45]
byte=pickle.dumps(a)
print(byte)

print("### unpickling ######") 
l=pickle.loads(byte)
l

b'\x80\x04\x95\x0e\x00\x00\x00\x00\x00\x00\x00]\x94(K\x01K\x02MY\x01K-e.'
### unpickling ######

[1, 2, 345, 45]

In [58]:
import pickle
a = [1, 2, 3, 4, 5, 89]
with open("obj_byte.txt", "wb") as f:
    pickle.dump(a, f)

#unpickling 
with open("obj_byte.txt", "rb") as f:
    data=pickle.load(f)
    print(data)


#pickle.dumps() --->obj-bytes 
#pickle.loads()-->byte-->obj
#pickle.dump()--->obj--bytes(stores in files)
#pickle.load()-->byte--object(reads from file)

[1, 2, 3, 4, 5, 89]

### 19. json serialzation and deserialization

In [2]:
# converting object to string 
import json
a=[1,2,3,4]
b=json.dumps(a)   
print(b)
print(type(b))

c=json.loads(b)  # string to object 
print(type(c))

[1, 2, 3, 4]
<class 'str'>
<class 'list'>

In [128]:
import json
a=[1,2,3,4]
with open("json_se.txt","w") as f:
    json.dump(a,f)

with open("json_se.txt","r") as f:
    data=json.load(f)
print(data,type(data))

[1, 2, 3, 4] <class 'list'>

### 20.summing each element

In [130]:
a=[1,2,3,4]
b=[a[0]]
c=0
for i in range(1,len(a)):
    b.append(a[i]+a[i-1])
print(b)

[1, 3, 5, 7]

### 21.filter map

In [132]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Using map to square each element
squared_numbers = list(map(lambda x: x**2, numbers))
print("Squared Numbers:", squared_numbers)

# Using filter to keep only even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even Numbers:", even_numbers)

Squared Numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81]
Even Numbers: [2, 4, 6, 8]

#### 22.filter example

In [134]:
friends = [("Rachel",19),
           ("Monica",18),
           ("Phoebe",17),
           ("Joey",16),
           ("Chandler",21),
           ("Ross",20)]

age= lambda data:data[1]>18
res=list(filter(age,friends))
res

[('Rachel', 19), ('Chandler', 21), ('Ross', 20)]

In [135]:
friends = [("Rachel",19),
           ("Monica",18),
           ("Phoebe",17),
           ("Joey",16),
           ("Chandler",21),
           ("Ross",20)]

age= lambda data:data[1]*2
res=list(map(age,friends))
res

[38, 36, 34, 32, 42, 40]

### 23 reduce

In [13]:
import functools
a=[1,2,3,4,5]
res=functools.reduce(lambda x,y:x+y,a)
res

15

### 24.shallow copy

In [60]:
lst1=[[1,2,3,4],[5,6,7,8]]
lst2=lst1.copy()
lst1[1][0]=100
lst1

[[1, 2, 3, 4], [100, 6, 7, 8]]

In [61]:
lst2

[[1, 2, 3, 4], [100, 6, 7, 8]]

### 25.deep copy

In [64]:
lst1=[[1,2,3],[3,4,5,],[5,6,7]]
lst2=copy.deepcopy(lst1)
lst2

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [65]:
lst2[1][0]=100

In [68]:
lst2

[[1, 2, 3], [100, 4, 5], [5, 6, 7]]

In [69]:
lst1

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

### 26.adding element to tuples of list

In [8]:
a=(1234,"hello",[1,2,3])
a[-1].append(2)
print(a)

(1234, 'hello', [1, 2, 3, 2])

### 27.while

In [18]:
name=input("enter your name")
while name =="":
    print("please neter your name ")
    name=input("enter your name")
print(f"hello,{name}")

enter your name

please neter your name

enter your name hht

hello,hht

### 28.rock paper scissor game

In [176]:
import random
while True:
    choices=["rock","paper","scissor"]
    computer=random.choice(choices)
    player=None
    while player not in choices:
       player=input("Enter rock ,paper,scissor ")
    # print(f"Player: {player}")
    # print(f"computer: {computer}")
    if player==computer:
        print(f"Player: {player}")
        print(f"computer: {computer}")
        print("Tie!")
    elif player=="rock":
        if computer=="scissor":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you won ")
        if computer=="paper":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you loose")
            
    elif player=="paper":
        if computer =="rock":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you loose")
        if computer=="scissor":
             print(f"Player: {player}")
             print(f"computer: {computer}")
             print("you won")
    elif player=="scissor":
        if computer =="rock":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you loose")
        if computer=="paper":
             print(f"Player: {player}")
             print(f"computer: {computer}")
             print("you won ")
    play_again=input("you want to play agai-->yes/no:").lower()
    if play_again!="yes":
            break
print("Bye")

Enter rock ,paper,scissor  rock

Player: rock
computer: paper
you loose

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  rock

Player: rock
computer: paper
you loose

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  rock

Player: rock
computer: scissor
you won

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  paper

Player: paper
computer: paper
Tie!

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  paper

Player: paper
computer: rock
you loose

you want to play agai-->yes/no: no

Bye

### 29.oops instant varibales,class varibale

In [20]:
class Hello:
    inputs=3   # class vaiables
    def __init__(self,name,address,dep):
        self.name=name   # instant variables 
        self.address=address # instant variables 
        self.dep=dep # instant variables 
    def info(self):
        print("sample oops programe")
object1=Hello("joe","delhi","cse")
object1.name
object1.address
print(object1.inputs)

3

In [194]:
object1.info()

sample oops programe

In [196]:
object1.inputs  # accesing class variables

3

### 30.inheritence

In [200]:
class Animal:
    alive=True
    def eat(self):
        print("this animal is eating")
    def swim(self):
        print("this animal can swin")
class Rabbit(Animal):
    def r_info(self):
        print("This is rabbit")
class Fish(Animal):
    def f_info(self):
        print("this is fish")
class eagle(Animal):
    def e_info(self):
        print("this is eagle")
    
rabbit=Rabbit()
rabbit.eat()
rabbit.r_info()
rabbit.alive

this animal is eating
This is rabbit

True

### 31.multilevel inheritence

In [30]:
class Grand:
    amount=4000
    def ginfo(Self):
        print("this is grand parent ")
class Parent(Grand):
    def pinfo(self):
        print("this is parent info")
class child(Parent):
    def cinfo(self):
        print("this is the child info")

obj=child()
obj.cinfo()
obj.pinfo()
obj.ginfo()
obj.amount

this is the child info
this is parent info
this is grand parent

4000

### 32.multiple inheritecne

In [28]:
class Father:
    amount=2000
    def finfo(self):
        print("thsi is fatehr info")
class Mother:
    def minfo(self):
        print("this sis the mother info")
class Child(Father,Mother):
    def cinfo(self):
        print("this is the child info")
obj=Child()
obj.minfo()
obj.finfo()

this sis the mother info
thsi is fatehr info

### 33.method overriding

In [5]:
class Animal:
    def eat(self):
        print("This animal is eating")
class Rabbit(Animal):
    def eat(self):   # mthod overriding
        super().eat()
        print("This rabbit is eating a carrot")
rabbit = Rabbit()
rabbit.eat()

This animal is eating
This rabbit is eating a carrot

### 34.super method

In [35]:
class Animal:
    def eat(self):
        print("This animal is eating")
class Rabbit(Animal):
    def eat(self):   # mthod overriding
        print("This rabbit is eating a carrot")
        super().eat()
        
rabbit = Rabbit()
rabbit.eat()

This rabbit is eating a carrot
This animal is eating

### 35.abstract class and method

In [40]:

from abc import ABC,abstractmethod
class cars(ABC):
    def show(self):
        print("cars has 4 wheels")
    @abstractmethod
    def speed(self):
        pass
class bmw(cars):
    def speed(self):
        print("speed is 60km/hr")
class suzuki(cars):
    def speed(self):
        print("spped is 90km/hr")

obj=bmw()
obj.show()
obj.speed()

cars has 4 wheels
speed is 60km/hr

In [2]:
class helo:
    _a=10
    __a=35
    def  info(self):
        print("hellwoorld")
obj=helo()
obj.info()
obj._a
#obj.__a  #cant access

hellwoorld

10

### 36.pancard validator

In [21]:
# The PAN card number is a 10-character alphanumeric code.
# The first five characters are letters (in uppercase).
# The next four characters are numbers.
# The last character is a letter.
def display_invalid_message():
    print("Sorry, your PAN card is invalid.")
def pan_validator(pan_number):
    if len(pan_number) != 10:
        return display_invalid_message()

    for i in range(5):
        if not pan_number[i].isalpha() or not pan_number[i].isupper():
            return display_invalid_message()
            
    for i in range(5, 9):
        if not pan_number[i].isdigit():
           return display_invalid_message()
    if not pan_number[-1].isalpha() or not pan_number[-1].isupper():
        return display_invalid_message()

    return "Pancard is valid"

user = input("Enter your PAN card number: ")
res = pan_validator(user)
res

Enter your PAN card number:  cekpm5144k

Sorry, your PAN card is invalid.

### 37.amstrong no

In [2]:
a=153  
b=str(a)
l=len(b)
res=sum(int(i)**l for i in b)
if res==a:
    print("amstrong no")
else:
    print("Not amstrog ")

amstrong no

### 38.python script to find the path is file or directory

In [1]:
import os 
path=input("enter your path")
if os.path.exists(path):
    print("path exists")
    if os.path.isfile(path):
        print("path is having a file")
    else:
        print("path is a dir")
else:
    print("path doesnot exists")

enter your path C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

path exists
path is a dir

### 39.python script to find the content in a path(all dir and the files)

In [3]:
import os 
path=input("enter the path ")
if os.path.exists(path):
    print("path exists")
    print(os.listdir(path))
else:
    print("path does not exists")

enter the path  C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

path exists
['.ipynb_checkpoints', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']

### 40.python script to find the dir and files in a path

In [6]:
import os,sys
path=input("Enter the path ")
if os.path.exists(path):
    print("path exists")
    for i in os.listdir(path):
        complte_path=os.path.join(path,i)
        if os.path.isfile(complte_path):
            print(f"{complte_path} -----> file")
        else:
            print(f"{complte_path} ------> dir")
else:
    print("path does not exists")
    exit

Enter the path  C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

path exists
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\.ipynb_checkpoints ------> dir
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\json_se.txt -----> file
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\obj_byte.txt -----> file
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\python.ipynb -----> file

### 41.print index along with its values in list

In [11]:
a=[1,2,3,445,4,5,"hi"]
for index,val in enumerate(a):
    print(f"index:{index}--->{val}")

index:0--->1
index:1--->2
index:2--->3
index:3--->445
index:4--->4
index:5--->5
index:6--->hi

### 42.list all the files in dir

In [18]:
import os 
path=input("enter the  path")
re=os.listdir(path)
re

enter the  path C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

['.ipynb_checkpoints', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']

### 43.python script to find .py.sh.. extension files in directory

In [25]:
import os
path=input("Enter the path")
if os.path.exists(path):
    print("valid path")
    if os.path.isfile(path):
        print("But Please pass the  directory")
        exit
    else:
        r=os.listdir(path)
        if len(r)==0:
            print("there are no files")
        else:
            files=[]
            ext=input("Enter your extension")
            for i in r:
               if i.endswith(ext):
                   files.append(i)
            if len(files)==0:
                print(f"There are no file with the extension {ext}")
            else:
                for i in files:
                    print(i)      
else:
    print("invalid path")

Enter the path C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\json_se.txt

valid path
But Please pass the  directory

### 44. non repeated values form list

In [38]:
a=[1,2,2,4,4,5,2,1,2,4,7,7,8] 
for i in a:
    if a.count(i)==1:
        print(i,end=" " )

5 8

### 45.sorting in alpha numeric

In [54]:
a="A5D2B1"
al=[]
num=[]
for i in a:
    if i.isalpha():
        al.append(i)
    else:
        num.append(i)
print(al)
print(num)

['A', 'D', 'B']
['5', '2', '1']

In [62]:
c=sorted(al)+sorted(num)
print("".join(c))

ABD125

### 46.get the elements from which are repeated mor than 3

In [64]:
a=["cat","hat","cat","apple","cat","apple","pat","cat","hat","hat"]
b=[]
for i in a:
    if a.count(i)>=3:
        b.append(i)
print(list(set(b)))

['hat', 'cat']

### 47.conevrt to binary and reverse the bits

In [51]:
a=50
b=bin(a)
b

'0b110010'

In [77]:
c=b[2:]
print(c)
print(type(c))

110010
<class 'str'>

In [82]:
d=""
for i in c:
    if i=="1":
        d=d+"0"
    else:
        d=d+"1"
d

'001101'

### 48.Initialize max_product with the product of  two elements

In [94]:
a = [1, 2, 3, 4, 5, 9, 8]
b=0
pair = []
for i in range(len(a)):
    for j in range(i+1, len(a)):
        product = a[i] * a[j]
        if product > b:
            b = product
            pair=[a[i],a[j]]
pair

[9, 8]

In [95]:
b

72

### 49.sum of two index vlaues must be eaual to nth value

In [20]:
a=[2,7,6,7,8,2]
n=9
res=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n and len(res)==0:
            res.append(i)
            res.append(j)
res

[0, 1]

### 50.a3b4c5 ---> aaabbbbccccc

In [2]:
a="a3b4c5"
al=[]
num=[]
for i in a:
     if i.isalpha():
         al.append(i)
     else:
         num.append(int(i))
c=""
for a,v in zip(num,al):
     c=c+a*v
c

'aaabbbbccccc'

### 60.make alpha and numeric into seperate list

In [110]:
a=["appl23e1224","2844ban45ana","o45range48739"]
xx=[]
yy=[]
for i in a:
    al=""
    num=""
    for j in i:
        if j.isalpha():
            al=al+j
        else:
            num=num+j
    xx.append(al)
    yy.append(num)
xx

['apple', 'banana', 'orange']

In [111]:
yy

['231224', '284445', '4548739']

### 61.[1,23,45,55,21] ---------> # [1, 5, 9, 10, 3]

In [121]:
a=[1,23,45,55,21]
b= [str(i) for i in a]
c=[]
for j in b:
    z=0
    for k in j:
        z=z+int(k)
    c.append(z)
c

[1, 5, 9, 10, 3]

### 62."my45name89is"  ------>si45eman89ym

In [131]:
a="my45name89is"
#si45eman45ym
b=[ i for i in reversed(a) if i.isalpha()]
c=""
i=0
for j in a:
    if j.isalpha():
        c=c+b[i]
        i=i+1
    else:
        c=c+j
c

'si45eman89ym'

### 63 reverse

In [138]:
a="this is pytho practice"
b=a.split()
c=" ".join([i[::-1] for i in a.split()])
print(c)

siht si ohtyp ecitcarp

### 64.adding two list

In [142]:
s1=[1,2,3,4]
s2=[3,4,5,6]
a=[]
for i,j in zip(s1,s2):
    print(i,j)
    a.append(i+j)
print(a)

1 3
2 4
3 5
4 6
[4, 6, 8, 10]

### 65.print some thing without using print function

In [146]:
import sys

In [1]:
#dir(sys.stdout)

In [152]:
sys.stdout.writelines("helloworld")

helloworld

### 66.list common values from two list

In [156]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
list3=[]
for i in list1:
    if i in list2:
        list3.append(i)
list3

[4, 5]

### 67.mergind tow dictinaries

In [168]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict3={**dict1,**dict2}
dict3

{'a': 1, 'b': 3, 'c': 4}

In [172]:
a=["virat kohli","rohit sharma","yuvraj singh","shubam gill"]
b=sorted(a,key=lambda x:x.split()[1])
b

['shubam gill', 'virat kohli', 'rohit sharma', 'yuvraj singh']

### 68."aaaabbbccc"--->4a3b3c

In [4]:
a="aaaabbbccc"
b=a[0]
c=1
d=""
for i in range(1,len(a)):
    if a[i]==b:
        c=c+1
    else:
        d=d+str(c)+b
        b=a[i]
        c=1
d=d+str(c)+b
d

'4a3b3c'

### 69.first non repeatedcharacter ~ asked in interview 2024

In [21]:
a="aabbvbd"   # 
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
print(b)
for i,j in b.items():
    if j==1:
        print(i)
        break

{'a': 2, 'b': 3, 'v': 1, 'd': 1}
v

### 70.distict word in a sentence

In [67]:
a="you have to find the distict word in a  sentence. You have to write a python programme"
def dis(a):
    b=len(list(set(a.lower().split())))
    return b
assert dis(a)==13
print("pass")

pass

### recurssion

In [24]:
#when a function call itself is called a recurrsion
def hello(n):
    if n==0:
        return 1 # stopping condition 
    print(n)
    return hello(n-1)

hello(10)

10
9
8
7
6
5
4
3
2
1

1

### recurssion factorial

In [5]:
def fac(n):
    if n==0:
        return 1
    n=n*fac(n-1)
    return n

fac(5)

120

### recusrssion example print name without using loops

In [6]:
c=1
def hello(name):
    global c
    if c<=10:
        c=c+1
        print(name)
        return hello(name)
hello("hey")

hey
hey
hey
hey
hey
hey
hey
hey
hey
hey

###  remove files older than x days

In [32]:
import os
import sys
import datetime
present_time=datetime.datetime.now()
path=input("Enter your patha: ")
age=2
if os.path.exists(path):
    if os.path.isfile(path):
        print("Please pass the dircetor path")
    else:
        #print(os.listdir(path))
        for i in os.listdir(path):
            full_path=os.path.join(path,i)
            if os.path.isfile(full_path):
                # print(full_path)
                # print("==========")
                file_created_date=datetime.datetime.fromtimestamp(os.path.getctime(full_path))
                diff_days=(present_time-file_created_date).days
                if diff_days==age:
                    print(full_path,diff_days)           
else:
    print("Please pass valid path")

Enter your patha:  C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\json_se.txt 2
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\obj_byte.txt 2

In [39]:
import os   #root path, dir path,file
a=list(os.walk(r"C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice"))
print(a)
print("===========")
for r,d,f in a:
    if len(f)!=0:
        print(f)

[('C:\\Users\\navee\\OneDrive\\Documents\\javeed\\python_interview_practice', ['.ipynb_checkpoints', 'delete'], ['dg.txt', 'fgfg.txt', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']), ('C:\\Users\\navee\\OneDrive\\Documents\\javeed\\python_interview_practice\\.ipynb_checkpoints', [], ['python-checkpoint.ipynb']), ('C:\\Users\\navee\\OneDrive\\Documents\\javeed\\python_interview_practice\\delete', [], [])]
===========
['dg.txt', 'fgfg.txt', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']
['python-checkpoint.ipynb']

### flatten the nested list

In [6]:
def flatten(nested):
    flatten_list=[]
    def sub_flatten(nested):
        for i in nested:
            if type(i)==list:
                sub_flatten(i)
            else:
                flatten_list.append(i)
    sub_flatten(nested)
    return flatten_list
flatten([1, 2, [3, 4, [5, 6]], 7])

[1, 2, 3, 4, 5, 6, 7]

### find the list of tuples of empoyess who salary is grater the the company avg salary

In [13]:
#find the list of tuples of empoyess who salary is grater the the company avg salary
emp_list=[('Ankit',10000),('Rahul',12000),('Sumit',14000),('Dheeraj',21000),('Pavan',11000),('Mohit',13000)]
total=0
g=[]
c=0
for i in emp_list:
   total=total+i[1]
   c=c+1
print(c)
avg=total/c
print(avg)
for j in emp_list:
    if j[1] >avg:
        g.append(j)
g

6
13500.0

[('Sumit', 14000), ('Dheeraj', 21000)]

### sort dictionaries by key and values

In [27]:
employee_dict = {
    'Ankit': 10000,
    'Rahul': 12000,
    'Sumit': 14000,
    'Dheeraj': 21000,
    'Pavan': 11000,
    'Mohit': 13000
}
keys=dict(sorted(employee_dict.items()))
keys

{'Ankit': 10000,
 'Dheeraj': 21000,
 'Mohit': 13000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Sumit': 14000}

In [28]:
values=dict(sorted(employee_dict.items(), key=lambda x:x[1]))
values

{'Ankit': 10000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Mohit': 13000,
 'Sumit': 14000,
 'Dheeraj': 21000}

### sum of two num showuld be equal to n

In [14]:
a=[1,2,3,4,5,6,7]
n=6
c=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n:
            c.append((a[i],a[j]))
c

[(1, 5), (2, 4)]

### find the mssing values from the indecs of the given l;ist

In [7]:
src=[2,7,8,9,15]   #i=0,j=1 src[i]
def hello(src,i,j):
    b=[]
    start=src[i]
    end=src[j] 
    for i in range(start+1,end):
         b.append(i)
    return b
hello([2,7,8,9,15],0,1)

[3, 4, 5, 6]

##### the first elemt in lst must be greater than zero and other element
##### should be decraesd by 1 amd make sure it hsould not become zero

In [7]:
a=[1,1,2,1,3]
for i in range(1,len(a)):
    if a[i]-a[i-1]==0:
        continue
    else:
        a[i]=a[i]-1
        print(a)

[1, 1, 1, 1, 3]
[1, 1, 1, 1, 2]

### find the missing values from the list

In [54]:
a=[0,3,6]  # 1,2,4,5 are missing 
b=max(a)
miss=[]
for i in range(b+1):
    if i not in a:
       miss.append(i)
miss

[1, 2, 4, 5]

### sample pandas examples

In [2]:
import pandas as pd

In [3]:
a=pd.DataFrame({"name":["javed","ram"],"no":[20,30]})
a

    name  no
0  javed  20
1    ram  30

In [13]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5,5],
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie','Charlie'],
    'Age': [25, 28, None, 35, 40,40],
    'Salary': [50000, 60000, 45000, 70000, None,None],
    'Gender': ['M', 'F', 'M', 'F', 'M','M']
}

df = pd.DataFrame(data)

In [14]:
df

   ID     Name   Age   Salary Gender
0   1     John  25.0  50000.0      M
1   2     Jane  28.0  60000.0      F
2   3      Bob   NaN  45000.0      M
3   4    Alice  35.0  70000.0      F
4   5  Charlie  40.0      NaN      M
5   5  Charlie  40.0      NaN      M

### find the sum of null values in each column

In [15]:
df.isnull().sum()

ID        0
Name      0
Age       1
Salary    2
Gender    0
dtype: int64

### dropping the null values

In [16]:
drop_na=df.dropna()

In [17]:
drop_na

   ID   Name   Age   Salary Gender
0   1   John  25.0  50000.0      M
1   2   Jane  28.0  60000.0      F
3   4  Alice  35.0  70000.0      F

In [21]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 1

### drop dublicates

In [25]:
df_dublicates=df.drop_duplicates()
df_dublicates

   ID     Name   Age   Salary Gender
0   1     John  25.0  50000.0      M
1   2     Jane  28.0  60000.0      F
2   3      Bob   NaN  45000.0      M
3   4    Alice  35.0  70000.0      F
4   5  Charlie  40.0      NaN      M

In [29]:
df["Gender"]=df["Gender"].str.lower()

In [30]:
df

   ID     Name   Age   Salary Gender
0   1     John  25.0  50000.0      m
1   2     Jane  28.0  60000.0      f
2   3      Bob   NaN  45000.0      m
3   4    Alice  35.0  70000.0      f
4   5  Charlie  40.0      NaN      m
5   5  Charlie  40.0      NaN      m

In [31]:
df.shape

(6, 5)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      6 non-null      int64
 1   Name    6 non-null      object
 2   Age     5 non-null      float64
 3   Salary  4 non-null      float64
 4   Gender  6 non-null      object
dtypes: float64(2), int64(1), object(2)
memory usage: 372.0+ bytes

### change the datatype

In [36]:
drop_na["Age"]=drop_na["Age"].astype('int')

C:\Users\navee\AppData\Local\Temp\ipykernel_25332\4207596781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_na["Age"]=drop_na["Age"].astype('int')

In [37]:
drop_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      int64
 1   Name    3 non-null      object
 2   Age     3 non-null      int32
 3   Salary  3 non-null      float64
 4   Gender  3 non-null      object
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 132.0+ bytes

In [38]:
df.rename(columns={"ID":"ID_NO"},inplace=True)

In [39]:
df

   ID_NO     Name   Age   Salary Gender
0      1     John  25.0  50000.0      m
1      2     Jane  28.0  60000.0      f
2      3      Bob   NaN  45000.0      m
3      4    Alice  35.0  70000.0      f
4      5  Charlie  40.0      NaN      m
5      5  Charlie  40.0      NaN      m

### joins

In [40]:
import pandas as pd

data1 = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Age': [25, 28, 30, 35, 40]
}

df1 = pd.DataFrame(data1)


data2 = {
    'ID': [2, 3, 4, 5, 6],
    'Salary': [60000, 45000, 70000, 80000, 55000],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Operations']
}

df2 = pd.DataFrame(data2)

In [41]:
df1

   ID     Name  Age
0   1     John   25
1   2     Jane   28
2   3      Bob   30
3   4    Alice   35
4   5  Charlie   40

In [42]:
df2

   ID  Salary  Department
0   2   60000          HR
1   3   45000          IT
2   4   70000     Finance
3   5   80000   Marketing
4   6   55000  Operations

In [43]:
inner_join=df1.merge(df2,on="ID",how="inner")

In [46]:
print("\ninner Join:")
inner_join

inner Join:

   ID     Name  Age  Salary Department
0   2     Jane   28   60000         HR
1   3      Bob   30   45000         IT
2   4    Alice   35   70000    Finance
3   5  Charlie   40   80000  Marketing

In [45]:
left_join = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_join)

Left Join:
   ID     Name  Age   Salary Department
0   1     John   25      NaN        NaN
1   2     Jane   28  60000.0         HR
2   3      Bob   30  45000.0         IT
3   4    Alice   35  70000.0    Finance
4   5  Charlie   40  80000.0  Marketing

In [47]:
right_join = pd.merge(df1, df2, on='ID', how='right')
print("\nRight Join:")
print(right_join)

Right Join:
   ID     Name   Age  Salary  Department
0   2     Jane  28.0   60000          HR
1   3      Bob  30.0   45000          IT
2   4    Alice  35.0   70000     Finance
3   5  Charlie  40.0   80000   Marketing
4   6      NaN   NaN   55000  Operations

In [48]:
df_filled = df.fillna(0)

In [49]:
df_filled

   ID_NO     Name   Age   Salary Gender
0      1     John  25.0  50000.0      m
1      2     Jane  28.0  60000.0      f
2      3      Bob   0.0  45000.0      m
3      4    Alice  35.0  70000.0      f
4      5  Charlie  40.0      0.0      m
5      5  Charlie  40.0      0.0      m

In [6]:
import pandas as pd

# Example DataFrame
data = {'A': [1, 2, 3, 3, 4],
        'B': ['a', 'b', 'c', 'c', 'd']}
df = pd.DataFrame(data)

# Check for duplicate rows
duplicate_rows = df[df.duplicated()]

print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
   A  B
3  3  c

### reverse without using slicing operation

In [44]:
a=12345
rev=0
while a!=0:
    rev=rev*10+a%10 
    print(rev)
    a=a//10

print(rev,type(rev))

5
54
543
5432
54321
54321 <class 'int'>

### balance paranthesses

In [7]:
def check_para(n):
    stack=[]
    for i in n:
        if i in ["(","[","{"]:
            stack.append(i)
        else:
            if not stack:
                return False
            c=stack.pop()
            # print(c)
            # print(stack)
            if c=="(":
                if i!=")":
                    return False
            if c=="[":
                if i!="]":
                    return False
            if c=="{":
                if i!="}":
                    return False
    if stack:
        return False 
    else:
        return True
a="{}[]]"
check_para(a)

False

### oocurance index of needle in haystack

In [62]:
haystack="hello"
needle="ll" # if empty 0 or not in haystack return -1
def occ(haystack,needle):
    return haystack.find(needle)
print(occ("hello","ll"))
print(occ("hello",""))
print(occ("hello","a"))

2
0
-1

### bubble sort

In [14]:
a=[8,5,4,3,2]
for i in range(len(a)):
    for j in range(len(a)-i-1): #(5-0-1)=4 5-1-1
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)

[2, 3, 4, 5, 8]

####

### patterns

In [7]:
n=5
for i in range(n):  # rows 
    for j in range(n):  # columns
      print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [17]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [19]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [20]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [20]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

### hacker rank list comphrehension

In [2]:
x=1
y=1
z=1
n=2
f=[]
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+k!=n:
                f.append([i,j,k])
f

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### hacker rank uniue vales from k

In [68]:
s = 'AABCAAADA' # ab ca ad 
k = 3
sub=[]
for i in range(0,len(s),k):
    sub.append(s[i:i+k])
for j in sub:
    print("".join(sorted(set(j),key=j.index)))  # j.index sort based on original index value

AB
CA
AD

In [69]:
a="AADA"
print("".join(sorted(set(a),key=a.index)))

AD

In [75]:
a="DAA"
print("".join(sorted(set(a),key=a.index)))

DA

### regular expression

#### finding phone no

In [2]:
import re
text="hello my no is 9030170201 and my friend no is 8889996666"
res=re.findall('[89][0-9]{9}',text)
res

['9030170201', '8889996666']

#### finding email id

In [8]:
import re

text = "my email id is a9bc@gmail.com and friend email id is =jow@yahoo.in  $abc@jdojdo abc@jo.com  _jav@yahoo.in Javed@gmal.com"

# Find all email addresses where the local part does not start with "."
res = re.findall(r"[a-zA-Z0-9]+[@][a-z]+\.[a-z]{2,3}", text)

print(res)

['a9bc@gmail.com', 'jow@yahoo.in', 'abc@jo.com', 'jav@yahoo.in', 'Javed@gmal.com']

### any and all

In [ ]:
#In Python, the following values are considered "falsy" (evaluate to False):

# False
# None
# 0 (of any numeric type)
# 0.0
# '' (an empty string)
# [] (an empty list)
# {} (an empty dictionary)
# () (an empty tuple)
# set() (an empty set)

In [25]:
nums = [1, 2,1,-1,0]  
print(all(nums))

False

In [26]:
nums = [1, 2,1,-1,]  
print(all(nums))

True

In [31]:
#any
nums = [0,False]  
print(any(nums))

False

In [32]:
nums = [1,[]]  
print(any(nums))

True

In [33]:
nums = [(),()]  
print(all(nums))

False

### interview question

In [3]:
a=['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']
def hello(a,s):
    if s in a:
        ij= a.index(s)
        return (a[ij::])
    else:
        return False
user=input("enter the input:")
a=['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']
hello(a,user)

enter the input: Wednesday

['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']

### pattern

In [14]:
# 5 5 5 5 5
# 4 4 4 4
# 3 3 3
# 2 2
# 1
n=5
for i in range(5):
    for j in range(i,5):
        print(n,end= " ")
    n=n-1    
    
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [20]:
n=5
for i in range(n):
    for j in range(i,n):
        print(n-i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### adding two no without using + sum()

In [2]:
a=3
b=5
sum=a-(-b)
sum

8

### Delete occurrences of an element if it occurs more than n times

In [1]:
nums = [0,1,1,1,1,2,2,2,3]  # [0,1,1,2,2,3]  should not occur more than 3 
d={}
c=[]
for i in nums:
    if i not in d:
        d[i]=1
    else:
        d[i]=d[i]+1
    if d[i]<3:
        c.append(i)
c

[0, 1, 1, 2, 2, 3]

### validate ip address

In [22]:
def valid_ip(ip):
    a=ip.split(".")
    if len(a)!=4:
        return "invalid"
    for i in a:
        if not i.isdigit():
            return "invalid"
        if int(i)<0 or int(i)>255:
            return "invalid"
    else:
        return "valid"
a="212.23.23.232"
valid_ip(a)

'valid'

### no to word

In [69]:
def switch_it_up(num):
    words_dict = {
        0: "Zero", 1: "One", 2: "Two", 3: "Three", 4: "Four",
        5: "Five", 6: "Six", 7: "Seven", 8: "Eight", 9: "Nine"
    }
    return words_dict.get(num)

# Test the function
num = int(input("Enter a number between 0 and 9: "))
if num<0  or m>9:
    print("out of range")
switch_it_up(num)

Enter a number between 0 and 9:  -1

out of range

### 3 elements from list  whos sum is 0

In [78]:
a=[-1,0,1,2,-1,-4]  #sum=a+b+c=0 find all the therre elements 
b=[]
for i in range(len(a)):
    for j in range(1,len(a)):
        for k in range(2,len(a)):
            if a[i]+a[j]+a[k]==0:
                b.append([a[i],a[j],a[k]])
b

[[-1, 0, 1],
 [-1, 2, -1],
 [-1, -1, 2],
 [0, 1, -1],
 [0, -1, 1],
 [1, 0, -1],
 [2, 2, -4],
 [2, -1, -1],
 [2, -4, 2],
 [-1, 0, 1],
 [-1, 2, -1],
 [-1, -1, 2],
 [-4, 2, 2]]

### No of chnages of key

In [81]:
a="cCBbDd" # from c to b one change b to d second change total 2 changes 
r=0
c=a[0].lower()
for i in range(1,len(a)):
    if a[i].lower()==c:
        continue
    else:
        r=r+1
        c=a[i].lower()
r

2

### max occurange values for key

In [11]:
a=[1,1,2,3,4,2,1,1,1,4,5,5,5,5,5,6,5,4,5,5]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
        
    else:
        b[i]=1
max_occ=max(b,key=b.get)
print(max_occ)
print(b[max_occ])

5
8

In [10]:
a=[1,1,2,3,4,2,1,1,1,4,5,5,5,5,5,6,5,4,5,5]
count=0
index=0
temp=0
for i in range(len(a)):
    temp= a.count(i)
    if temp>count:
        count=temp
        index=i
print(count) 
index

8

5

### first longest substring without reapting the character

In [59]:
s="abcabcdb"
max_len=[]
for i in range(len(s)):
    current=[s[i]]
    for j in  range(i+1,len(s)):
        if s[j] in current :
            break
        else:
            current.append(s[j])
    if len(current)>len(max_len):
        max_len=current
print("".join(max_len),len(max_len))

abcd 4

In [5]:
#pemdas # paranthsis,exponential,mul,division additiona nd sub
print(3*3+3/3-1+2**2)

13.0

In [8]:
a=int(input())
years=90-a
weeks=years*52
weeks

 30

3120

In [20]:
print("####### welcome to reasure island #########")
choice1=input("Please enter where side you want to go left/right").lower()
while choice1  not in ["left", "right"]:
    choice1=input("Please enter where side you want to go left/right").lower()
if choice1=="left":
    choice2=input("entert swim/wait").lower()
    if choice2=="wait":
        door=input("which door red/blue/yellow").lower()
        if door=="red":
            print("gameover")
        elif door =="blue":
            print("you have got amush,gameover")
        elif door=="yellow":
            print("you have won")
        else:
            print("you have choose correct door,gameover")
            
    else:
        print("gameover")    
else:
    print("game over")

####### welcome to reasure island #########

Please enter where side you want to go left/right left
entert swim/wait fh

gameover

In [21]:
a=0
while a<10:
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

### add sum of number till it gets to single digit

In [6]:
def add(n):  # 192-->1+9+2=13-->1+2=3
    while n>=10:
        n=sum(int(i) for i in str(n))
    return n
add(192)

3

In [18]:
def add(n):
    num=n%9
    if num==0:
        print(9)
    else:
        print(num)
add(129)

3

### finding k'th largest element

In [25]:
a=[2,6,3,0,7,4]
k=3
a.sort()
print(a[-k])

4

#### contains dublicates

In [12]:
#[1,2,3,1] Output:true [1,2,3]
def dub(nums):
    compare=set()
    for i in nums:
        if i in compare:
            return True
        else:
            compare.add(i)
    return False 
dub([1,2,3,4,1])

True

### Longest Common Prefix

In [27]:
# Input: strs = ["flower","flow","flight"]
# Output: "fl"
strs = ["flower","flow","floating"]
pre=""
lst=list(zip(*strs))
print(lst)
for i in lst:
    if len(set(i))==1:
        pre=pre+i[0]
    else:
        break
pre

[('f', 'f', 'f'), ('l', 'l', 'l'), ('o', 'o', 'o'), ('w', 'w', 'a')]

'flo'

### moves zeros to end of the list

In [23]:
a=[0,1,3,0,4,5]
for i in a:
    if i==0:
        a.remove(i)
        a.append(i)
a

[1, 3, 4, 5, 0, 0]

### find the data which is date between 2020-12-03 to 2020-12-06

In [40]:
import pandas as pd

data = {
   'Duration': [50,60,70,45,65,70,60,45],
   'Date': ['2020/12/01','2020/12/02','2020/12/03','2020/12/04','2020/12/05','2020/12/06','2020/12/07','2020/12/01'],
   'Pulse': [110,117,103,109,117,102,110,104],
   'Maxpulse': [130,145,135,175,148,127,136,134],
   'Calories': [409.1,179.0,340.0,282.4,406.0,300.0,374.0,253.3]
}

df = pd.DataFrame(data)

start_Date='2020/12/03'
end_date='2020/12/06'

df["Date"]=pd.to_datetime(df["Date"])
filtered=df[(df["Date"]>=start_Date) & (df["Date"]<=end_date)]
filtered

   Duration       Date  Pulse  Maxpulse  Calories
2        70 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        65 2020-12-05    117       148     406.0
5        70 2020-12-06    102       127     300.0

In [42]:

start_date = '2020-12-03'
end_date = '2020-12-06'

df['Date'] = pd.to_datetime(df['Date'])

filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

print(filtered_df)

   Duration       Date  Pulse  Maxpulse  Calories
2        70 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        65 2020-12-05    117       148     406.0
5        70 2020-12-06    102       127     300.0

### Remove Duplicates from Sorted Array

In [33]:
nums = [0,0,1,1,1,2,2,3,3,4]
#Output: 5, nums = [0,1,2,3,4,_,_,_,_,_]
r=1
for i in range(1,len(nums)):
    if nums[i-1]!=nums[i]:
        nums[r]=nums[i]
        r=r+1
r

5

### Anagrams

In [3]:
## len should be eaual
## charcter should be same in order or unordered
a=input("Enter the string: ")
b=input("Enter the string: ")
if len(a)!=len(b):
    print("Not Anagram")
else:
    if sorted(a)==sorted(b):
        print("Anagram")

Enter the string:  hello
Enter the string:  ohlle

Anagram

In [5]:
### print 1 to 100 without using loops
def with_out_loop(i,num):
    print(i)
    if i<num:
        i+=1
        with_out_loop(i,num)
with_out_loop(1,10)

1
2
3
4
5
6
7
8
9
10

### python extended iterble unpacking

In [8]:
z=[1,2,3,4,5,6]
a,b,*c,d=z
print(a)
print(b)
print(c)
print(d)

1
2
[3, 4, 5]
6

### all possible sentence form given string

In [25]:
from itertools import permutations
string ="python is a language"
lst=string.split()
p=permutations(lst)
for i,group in enumerate(p):
    # print(group)
    print(str(i)+":",end=" ")
    for j in group:
        print(j,end=" ")
    print()

0: python is a language
1: python is language a
2: python a is language
3: python a language is
4: python language is a
5: python language a is
6: is python a language
7: is python language a
8: is a python language
9: is a language python
10: is language python a
11: is language a python
12: a python is language
13: a python language is
14: a is python language
15: a is language python
16: a language python is
17: a language is python
18: language python is a
19: language python a is
20: language is python a
21: language is a python
22: language a python is
23: language a is python


#### Days of the week are represented as three-letter strings ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun").
####  Write a function solution that, given a string S representing the day of the week and an integer K (between 0 and 500, inclusive),
#### returns the day of the week that is K days later.
#### For example, given S = "Wed" and K = 2, 
####  the function should return "Fri". Given S = "Sat" and K = 23, the function should return "Mon".

In [43]:
def day_week(S,k):
    a=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
    new=a.index(S)
    res=(k+new)%7
    print(res)
    return a[res]
day_week("Mon",4)

4

'Fri'

In [11]:
2%7

2

### multiply two no.s without using * operator in python

In [31]:
a=4
b=6 # 4 4 4 4 4 =20
c=0
for i in range(0,b): # $(1,b+1)
    c=c+a
c

24

### Add binary

In [2]:
b="1010"
a="1011"
a=int(a,2)
b=int(b,2)
sum=a+b
sum
# converting to binary
print(bin(sum)[2:])

10101

In [ ]:
### integer to roman

In [32]:
num = 1900
data = {"I": 1, "IV": 4, "V": 5, "IX": 9, "X": 10, "XL": 40, "L": 50, "XC": 90, "C": 100, "CD": 400, "D": 500, "CM": 900, "M": 1000}

out = ""
for k, v in reversed(data.items()):
    while num >= v:
        out = out + k
        num = num - v

print(out)

MCM

In [17]:
num = 60
data = {"I": 1, "IV": 4, "V": 5, "IX": 9, "X": 10, "XL": 40, "L": 50, "XC": 90, "C": 100, "CD": 400, "D": 500, "CM": 900, "M": 1000}
a=""
for k,v in reversed(data.items()):
    while num>=v:
        a=a+k
        num=num-v
a

'LX'

### interview

In [43]:
a='CodeGeek'
c=[]
b=["a","e","i","o","u"]
c="".join([i for i in a if i not  in b])
c

'CdGk'

### two pointer approach

In [44]:
## two sum 
def twosum(a,target): 
    start=0
    end=len(a)-1
    while start<end:
        if a[start]+a[end]==target:
            return True
        elif a[start]+a[end]<target:
            start=start+1
        else:
            end =end-1
    return False
a=[1,2,3,4,5]
target=3
twosum(a,target)

True

### Nth largets elemnet in list without using inbuilt methods

In [7]:
a=[1,10,17,14,32,7,6]
k=3
for i in range(len(a)):
    for j in range(len(a)-i-1):  #7-0-1
        if a[j]<a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)
print(a[k-1])

[32, 17, 14, 10, 7, 6, 1]
14

### happiest number in python

In [4]:
a=13
while a>=10:
    sum=0
    while a>0:
        r=a%10
        sum=sum+(r*r)
        a=a//10
    a=sum
    print(a)
if a==1:
    print("happiest no")
else:
    print("Not happiest no")

10
1
happiest no

### interview question

In [1]:
d=[99,28,12,55,13,15,76,99]
for i in range(len(d)):
    a=d[i]
    b=[]
    for j in range(i+1,len(d)):
        if d[j]>a:
            b.append(d[j])
    print(f"{a} {len(b)} {b}")

99 0 []
28 3 [55, 76, 99]
12 5 [55, 13, 15, 76, 99]
55 2 [76, 99]
13 3 [15, 76, 99]
15 2 [76, 99]
76 1 [99]
99 0 []

#### Write a Python function to multiply all the numbers in a list using args.

In [14]:
def mul(*args):
    b=1
    for i in args:
        b=b*i
    return b
print(mul(8, 2, 3, -1, 7))

-336

### decorator usecase 1 in real time

In [2]:
import pandas as pd
import time

def log_time(fun):
    def wrapper(*args):
        start_time = time.time()
        result = fun(*args) 
        end_time = time.time()
        print(f"Total execution time is {end_time - start_time}")
        return result
    return wrapper

@log_time
def read_data(path):
    df = pd.read_csv(path)
    return df

read_data(r"C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\titanic.csv")

Total execution time is 0.00403141975402832

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

### generators real time whenyou are reading large files

In [22]:
def process_logs_with_yield(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

# Usage
log_generator = process_logs_with_yield(r'C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\logs.txt')
for i in  log_generator:
    print(i)

01
03/22 08:51:01 INFO   :.main: *************** RSVP Agent started ***************
02
03/22 08:51:01 INFO   :...locate_configFile: Specified configuration file: /u/user10/rsvpd1.conf
03/22 08:51:01 INFO   :.main: Using log level 511
03/22 08:51:01 INFO   :..settcpimage: Get TCP images rc - EDC8112I Operation not supported on socket.
03
03/22 08:51:01 INFO   :..settcpimage: Associate with TCP/IP image name = TCPCS
03/22 08:51:02 INFO   :..reg_process: registering process with the system
03/22 08:51:02 INFO   :..reg_process: attempt OS/390 registration
03/22 08:51:02 INFO   :..reg_process: return from registration rc=0
04
03/22 08:51:06 TRACE  :...read_physical_netif: Home list entries returned = 7
03/22 08:51:06 INFO   :...read_physical_netif: index #0, interface VLINK1 has address 129.1.1.1, ifidx 0
03/22 08:51:06 INFO   :...read_physical_netif: index #1, interface TR1 has address 9.37.65.139, ifidx 1
03/22 08:51:06 INFO   :...read_physical_netif: index #2, interface LINK11 has address 9.67.100.1, ifidx 2
03/22 08:51:06 INFO   :...read_physical_netif: index #3, interface LINK12 has address 9.67.101.1, ifidx 3
03/22 08:51:06 INFO   :...read_physical_netif: index #4, interface CTCD0 has address 9.67.116.98, ifidx 4
03/22 08:51:06 INFO   :...read_physical_netif: index #5, interface CTCD2 has address 9.67.117.98, ifidx 5
03/22 08:51:06 INFO   :...read_physical_netif: index #6, interface LOOPBACK has address 127.0.0.1, ifidx 0
03/22 08:51:06 INFO   :....mailslot_create: creating mailslot for timer
03/22 08:51:06 INFO   :...mailbox_register: mailbox allocated for timer
05
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP via UDP
06
03/22 08:51:06 WARNING:.....mailslot_create: setsockopt(MCAST_ADD) failed - EDC8116I Address not available.
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp-udp
03/22 08:51:06 TRACE  :..entity_initialize: interface 129.1.1.1, entity for rsvp allocated and initialized
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP via UDP
03/22 08:51:06 WARNING:.....mailslot_create: setsockopt(MCAST_ADD) failed - EDC8116I Address not available.
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp-udp
03/22 08:51:06 TRACE  :..entity_initialize: interface 9.37.65.139, entity for rsvp allocated and
initialized
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP via UDP
03/22 08:51:06 WARNING:.....mailslot_create: setsockopt(MCAST_ADD) failed - EDC8116I Address not available.
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp-udp
03/22 08:51:06 TRACE  :..entity_initialize: interface 9.67.100.1, entity for rsvp allocated and initialized
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP via UDP
03/22 08:51:06 WARNING:.....mailslot_create: setsockopt(MCAST_ADD) failed - EDC8116I Address not available.
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp-udp
03/22 08:51:06 TRACE  :..entity_initialize: interface 9.67.101.1, entity for rsvp allocated and initialized
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP via UDP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp-udp
03/22 08:51:06 TRACE  :..entity_initialize: interface 9.67.116.98, entity for rsvp allocated and
initialized
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP via UDP
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp-udp
03/22 08:51:06 TRACE  :..entity_initialize: interface 9.67.117.98, entity for rsvp allocated and
initialized

### generate first 2 lettes string next 6 alphanumeric and last two alphabits

In [47]:
import random
import string

c=[]
for i in range(2):
    res=random.choice(string.ascii_lowercase)
    c.append(res)
for i in range(0,6):
    res1=random.choice(string.ascii_lowercase+string.digits)
    c.append(res1)
for i in range(2):
    res2=random.choice(string.ascii_lowercase)
    c.append(res2)
output=""
for i in c:
    output=output+str(i)
print(output)

io8fo4ndzk

### Python  Convert Tuple to Tuple Pair

In [30]:

input= ("A", "B", "C") 
#Output : [(A, B), (A, C)]
output=[]

a=input[0]
for j in range(1,len(input)):
    output.append((a,input[j]))

output

[('A', 'B'), ('A', 'C')]

### Split and and find operations

In [20]:
input="Product Engineer:Jhon weng(12345)"
#output=person jhon weng is at position Execitive and is is 12345
position=input.split(":")[0]
n=input.split(":")[1]
post=n.find("(")
name=n[0:post]
id=n[post+1:-1]
print(f"Person {name} is at position '{position}' and the id is {id}")

Person Jhon weng is at position 'Product Engineer' and the id is 12345

### print class name string objects

In [2]:
class hello:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    
    def __str__(self):
        return f"Class name is {self.__class__.__name__}.My Name is {self.name} and my age is {self.age}"

obj = hello("javeed", 29)
print(obj)

Class name is hello.My Name is javeed and my age is 29

### longest palindrome

In [10]:
s = "babadaabbaa"
b=[]
for i in range(len(s)):
    a=s[i]
    for j in range(i+1,len(s)):
        a=a+s[j]
        if a==a[::-1]:
            b.append(a)
        
b

['bab', 'aba', 'ada', 'aa', 'aabbaa', 'abba', 'bb', 'aa']

### binary to interger

In [58]:
a=12
c=bin(a)
c
d=int(c,2)
d

12

### loc and iloc

In [4]:
import pandas as pd

# Creating a dictionary with sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Displaying the DataFrame
df

      Name  Age  Gender         City
0    Alice   25  Female     New York
1      Bob   30    Male  Los Angeles
2  Charlie   35    Male      Chicago
3    David   40    Male      Houston
4    Emily   45  Female      Phoenix

In [11]:
df.iloc[0:4,0:3]  # positional base indexing

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3    David   40    Male

In [12]:
df.loc[0:3,["Name","Age"]]  # label base indexing

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

### interview question

In [1]:
input_str = "my name is javed"
output_str = ""
c=input_str.split()
res=[]
for i in c:
    d=""
    for i,j in enumerate(i):
        if i%2==0:
            d=d+j.lower()
        else:
            d=d+j.upper()
    res.append(d)
print(" ".join(res))

mY nAmE iS jAvEd

### interview question

In [1]:
class hello:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    
    def __str__(self):
        return f"Class name is {self.__class__.__name__}.My Name is {self.name} and my age is {self.age}"

obj = hello("javeed", 29)
print(obj)

Class name is hello.My Name is javeed and my age is 29

### interview

In [14]:
a="aaaAAbbcccbd"
b=""
for i in range(len(a)):
    if i==len(a)-1 or a[i]!=a[i+1]:
             b=b+a[i]
b

'aAbcbd'

### longest palindrome

In [1]:
s = "aaaabbaa"
#Output: aabbaa
c=[]
for i in range(len(s)):
    temp=s[i]
    for j in range(i+1,len(s)):
        temp=temp+s[j]
        if temp==temp[::-1]:
            c.append(temp)

d={i:len(i) for i in c}
print(max(d,key=d.get))

aabbaa

### all the possible substrings

In [45]:
new="abcd"
b=[]
for i in range(len(new)):
    for j in range(i+1,len(new)+1):
        print(new[i:j])

a
ab
abc
abcd
b
bc
bcd
c
cd
d

### interview

In [1]:
a="mjaveed1.its@gmail.com"
initial=a.split("@")[0]
domain=a.split("@")[1]
print(initial)
print(domain)
print(initial[0]+(len(initial)-2)*("*")+initial[-1]+"@"+domain)

mjaveed1.its
gmail.com
m**********s@gmail.com

### interview question delete last elemnet in dict without uing inbuild method

In [ ]:
a={"name":"javeed","age":23,"area":"hyd","job":"sales"}
b=list(a.keys())
c={}
for i in range(len(b)-1):
    key=b[i]
    c[key]=a[key]
    print(c)

### diff between "__str__" and "__repr__"

In [15]:
class hello:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"{self.name},{self.age}"
    def __repr__(self):
        pass
obj=hello("javed",10)  #individual object nneded to be  displayed then _str_ is used 
print(obj)

javed,10

In [18]:
class hello:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"{self.name},{self.age}"
    def __repr__(self):
        return f"{self.name},{self.age}"
obj=[hello("javed",10),
     hello("ram",22)]   #group of individual objects need to be displayed then use __repr__
print(obj)
#by default preference is sgiven to __str__

[javed,10, ram,22]

### exception propagation

Exception Propagation:Imagine you have a series of functions calling each other, like a chain. When an exception occurs within one function,
Python looks to see if that function has a plan to handle the exception. If it does, Python executes that plan, 
and the program continues running smoothly.

In [17]:
def fun1(x,y):
    try:
        res=x/y
        return res
    except ZeroDivisionError:
        print("Error: Cannot divide by zero!")
    
def fun2(x,y):
    try:
        out=fun1(x,y)
        print(out)
        print("end")
    except ZeroDivisionError:
        print("Error: Cannot divide by zeros!")
fun2(10,10)

1.0
end

multiprocessing and multithreading are techniques used in Python to achieve concurrent execution of tasks, speeding up computation for CPU-bound and I/O-bound tasks, respectively. 
Multiprocessing involves running multiple processes concurrently, each with its own memory space, while multithreading involves running multiple threads within a single process, sharing memory spac

### find the largest and smaller word from teh given string

In [13]:
a="hello world this is artficial intelligence"
def large_small(a:str):
    sp=a.split()
    b={len(i):i for i in sp}
    print(b)
    largest=max(b.keys())
    smallest=min(b.keys())
    print(f"largest word in given string is '{b[largest]}'")
    print(f"smallest word in given string is '{b[smallest]}'")
a="hello world this is artficial intelligence"
large_small(a)

{5: 'world', 4: 'this', 2: 'is', 9: 'artficial', 12: 'intelligence'}
largest word in given string is 'intelligence'
smallest word in given string is 'is'

### word pattern

In [3]:
def word_pattern(s, p):
    r = p.split()
    d = {}
    if len(s) != len(r):
        return False
    for i in range(len(s)):
        if s[i] not in d:
            d[s[i]] = r[i]
        elif d[s[i]] != r[i]:
            return False
            
    values = list(d.values())
    return len(set(values)) == len(values)

s = "abba"
p = "dog cat cat dog"  #"dog dog dog dog"
print(word_pattern(s, p))

True

### interview question sort two list and merge

In [6]:
a=[7,5,1,10,9]
b=[3,8,2,6,4]
for i in range(len(a)):
    for j in range(len(a)-1):
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
for i in range(len(b)):
    for j in range(len(b)-1):
        if b[j]>b[j+1]:
            b[j],b[j+1]=b[j+1],b[j]
print(a)
print(b)
s=[]
while a and b :
    if a[0]<b[0]:
        s.append(a.pop(0))
    else:
        s.append(b.pop(0))

s.extend(a)
s.extend(b)
s

[1, 5, 7, 9, 10]
[2, 3, 4, 6, 8]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### interview question place the n value in list in corrrect order

In [36]:
arr=[3,6,8,12,15]
n=7
index=0
for i,value in enumerate(arr):
    if value<n:
        index=index+1
    else:
        break
arr.insert(index,n)
arr

[3, 6, 7, 8, 12, 15]

### interview

In [3]:
def max_positive(num_list):
  max_num=max(num_list)
  print(max_num)
  if max_num<=0:
    return 1
  else:
    return max_num+1

input_list=[-1,3,-5,0,2,1]
max_positive(input_list)

3

4

### interview

In [4]:
words = ['lump', 'eat',  'me',  'tea', 'em', 'plum']
#[['lump', 'plum'], ['eat', 'tea'], ['me', 'em']]
b=[]
for i in range(len(words)):
    t="".join(sorted(words[i]))
    print(t)
    for j in range(i+1,len(words)):
        m="".join(sorted(words[j]))
        if t==m:
            b.append([words[i],words[j]])
b

lmpu
aet
em
aet
em
lmpu

[['lump', 'plum'], ['eat', 'tea'], ['me', 'em']]

In [43]:
l = [12,3,27,5,4,9,4]
result = 180
b=set()
for i in l:
  for j in l:
    for k in l:
       if i*j*k == result:
          b.add((i,j,k))
b

{(3, 5, 12),
 (3, 12, 5),
 (4, 5, 9),
 (4, 9, 5),
 (5, 3, 12),
 (5, 4, 9),
 (5, 9, 4),
 (5, 12, 3),
 (9, 4, 5),
 (9, 5, 4),
 (12, 3, 5),
 (12, 5, 3)}

#### given a sentence  for every word remove these suffix ["ts","ed","ing"] from end 
#### if encountered and if a word>8 then keep only the first 8 alphabits

In [25]:
new = "lets take consecutive seats"
suffixes = ["ts", "ed", "ing"]
result = []

words = new.split()
for word in words:
    if len(word) < 8:
        for suffix in suffixes:
            if word.endswith(suffix):
                cut_length = len(word) - len(suffix)
                result.append(word[:cut_length])
                break
        else:
            result.append(word)  
    else:
        result.append(word[:8]) 

result

['le', 'take', 'consecut', 'sea']

### flatten the list

In [1]:
b = [1, [2, 4, [5, 7, [3, 4]]]]
flatten=[]
def flattened(lst):
    for i in lst:
        if type(i)==list:
            flattened(i)
        else:
            flatten.append(i)
    return flatten
b = [1, [2, 4, [5, 7, [3, 4]]]]
flattened(b)

[1, 2, 4, 5, 7, 3, 4]

### interview:instant method class method and static method

In [6]:
class hello:
    domain="youtube"  #------------------>class variable 
    def __init__(self,first,last):
        self.first=first
        self.last=last
    def info(self): #------------>instant method 
        return f"{self.first}.last@{hello.domain}.com"
    @staticmethod  #-------------->staticmethod
    def new_domain(cls,newdomain):
        cls.domin=newdomain
    @staticmethod
    def static_demo():    #----------------->staticmethod
        return "this is static method"  
    @property         #-------------------->property decorator 
    def sample(self):
        return "india"

e=hello("javed","abdul")
hello.domain="gmail"
print(e.info())
print(e.static_demo())
print(e.sample)  #when you add property method that will act as an attribute instead of method

javed.last@gmail.com
this is static method
india

### interview question

In [3]:
import datetime
c=datetime.datetime.now()
file_name="sample"
file_name+"_"+c.strftime("%H:%M:%S")+".csv"

'sample_18:54:57.csv'

### interview concat both string and 3 index with "X"

In [6]:
c="sannas"
z="ad728g15bf"
t =c+z
print(t)
f=""
for i in range(len(t)):
    if (i+1)%3==0:
        f=f+"X"
    else:
        f=f+t[i]
f

sannasad728g15bf

'saXnaXadX28X15Xf'

In [19]:
def main(fun):
    def sub(*args):
        print(fun(*args))
        a=fun(*args)
        print(sum(a))
    return sub
@main
def hello(s):
    return s
hello([1,2,3,4])

[1, 2, 3, 4]
10